/* Cool border and hover effect for links */
a {
    color: #007bff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease-in-out;
   
  }
  a::before,
  a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
    background-color: #007bff;
  }
  a::after {
    transform-origin: bottom left;
  }
  a:hover::before,
  a:hover::after {
    transform: scaleX(1);
  }
  
  /* Modern border for input fields */
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

.footer-bot{
    padding-top: 10%;
    padding-bottom: 1%;
}

#contact{
    border: solid 2px #007bff;
    border-radius: 5%;
}
.footer-container{
    background-color: #cacdcf85;
    border-radius: 2%;
}

/* Small and bordered carousel */
.carousel {
    border: 2px solid #007bff;
    border-radius: 10px;
    max-width: 80%;
    margin: 0 auto;
  }
  .carousel-item img {
    border-radius: 10px;
  }
  
